:root {
    --width-content: 1080px;
}

html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size: 100%;
    border-radius: 0;
    border: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
}

textarea {
    resize: vertical;
    display: block;
}

select {
    cursor: pointer;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: inherit;
}

tbody {
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
svg {
    width: 100%;
    height: auto;
    display: block;
}

dialog {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    color: inherit;
    border: none;
}

iframe {
    vertical-align: bottom;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

.u-mt80 {
    margin-top: 80px;
}

.l-container {
    width: min(90%, var(--width-content));
    margin-inline: auto;
}

/* tabmenu */
.tab-menu {
    display: flex;
    padding: 10px 0;
}

.tab-button {
    flex: 1;
    border-bottom: 3px solid #62a5f2;
    opacity: 0.4;
    font-weight: bold;
    transition: opacity 0.3s;
}
@media (any-hover: hover) {
    .tab-button:hover {
        opacity: 1;
    }
}
.tab-button:focus {
    opacity: 1;
}

.tab-button.is-active {
    opacity: 1;
}

.tab-content {
    margin-top: 20px;
    min-height: 300px;
    letter-spacing: 0.05em;
}

.tab-text {
    display: none;
}

.tab-content.is-animated {
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        translate: 0 20px;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}
